.nav-menu {
    padding: 0 8px 8px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: calc(100% - 16px);
        background: rgba(22, 24, 35, 0.12);
        transform: scaleY(0.5);
        bottom: 0;
    }
}

.menu-item {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 8px 8px 8px 0;
    color: var(--text-color);
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;
    &.active {
        color: var(--primary);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.title {
    margin-left: 8px;
}
