.wrapper {
    position: relative;
    padding-top: 16px;
    padding-left: 8px;
}

.footer-list {
    margin-bottom: 8px;
}
.footer-link {
    color: rgba(22, 24, 35, 0.5);
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 17px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 5px;
    // font-family: var(--font-family);

    &:hover {
        text-decoration: underline;
    }
}
.copyright {
    color: rgba(22, 24, 35, 0.5);
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 17px;
    margin-right: 6px;
    margin-top: 5px;
}
