.wrapper {
    --search-border: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 51px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0 1px 1px rgb(0 0 0 /12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 0 var(--default-layout-horizontal-spacer);
    padding-right: 24px;
    padding-left: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

// Action
.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 1.8rem;
    margin-left: 22px;
    padding: 6px;
    background-color: transparent;
    cursor: pointer;
}

.action-btn {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    color: #161823;
    padding: 4px 10px;
    background-color: transparent;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 14px;
    cursor: pointer;
}
